body{
    font-family: 'Lato', sans-serif;
}
.container{
    width:1200px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.col-1{
    width:45%;
    margin:auto;
    border:2px solid gray;
    border-radius: 15px;
}
.col-1 .col1_1{
    width:45%;
    margin:auto;
}
.col-1 .col1_1 p {
    padding-left: 20px;
}
.col-1 .col1_1 h3 {
    padding-left: 20px;
}
.col-1 .col1_1 img{
    width:100%;
    padding: 2px 2px 0px 12px;
    border-radius: 150px 20px 20px 150px;
}
